<h1>Order Details</h1>
<div class="form-horizontal">

    <div class="form-group">
        <label class="col-sm-2 control-label" for="orderName">Order Name</label>
        <div class="col-sm-10 pull-left">
            <input type="text" data-ng-model="newOrder.orderName" class="form-control" id="orderName" placeholder="Order Name" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="price">Order Payment Price</label>
        <div class="col-sm-10 pull-left">
            <input type="text" data-ng-model="newOrder.price" class="form-control" id="price" placeholder="price" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="orderDate">Order Date</label>
        <div class="col-sm-10 pull-left">
            <input type="text" data-ng-model="newOrder.orderDate" class="form-control" id="orderDate" placeholder="order Date" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="itemCount">Total Items</label>
        <div class="col-sm-10 pull-left">
            <input type="text" data-ng-model="newOrder.itemCount" class="form-control" id="itemCount" placeholder="itemCount" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="itemList">Item List</label>
        <div class="col-sm-10 pull-left">
            <input type="text" data-ng-model="newOrder.itemList" class="form-control" id="itemList" placeholder="Item list" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="itemList"></label>
        <div class="col-sm-10 pull-left">
            <input type="button" data-ng-model="newOrder.itemList" class="btn btn-primary" value="Add New Order"/>
        </div>
    </div>

</div>